@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Source+Sans+Pro:wght@900&display=swap');

:root{
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 5px 15px rgba(0,0,0,.1);
    --border: 20px solid rgba(0,0,0,.1);
    --outline: 1px solid rgba(0,0,0,.1);
    --outline-hover: 2px solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: all 0.2s linear;
    cursor: pointer;
}

html{
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body{
    background: #eee;
}

section{
    padding: 2px 9%;
}

.heading{
    text-align: center;
    padding: 30px;
    padding-bottom: 30px;
    font-size: 35px;
    color: var(--black);
}

.heading span{
    background: var(--orange);
    color: white;
    display: inline-block;
    padding: 5px 20px;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    margin-top: 1px;
    display: inline-block;
    padding: 0px 30px;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid var(--black);
    color: var(--black); 

}

.btn:hover{
    background-color: var(--orange);
}
.heading{
    font-size: 25px;
}

.product .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
    padding: 10px;
    border-radius: 10px;
    gap: 15px;
}

.product .box-container .box {
    background-color: #fff;
    padding: 30px 20px;
    text-align: center;
    outline: var(--outline);
     outline-offset: -10px;
     box-shadow: var(--box-shadow);
}

.product .box-container .box img{
    width: 100%;
}

.product .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0;
}

.product .box-container .box h3{
    font-size: 18px;
    color: var(--black);
}