:root{
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 5px 15px rgba(0,0,0,.1);
    --border: 20px solid rgba(0,0,0,.1);
    --outline: 1px solid rgba(0,0,0,.1);
    --outline-hover: 2px solid var(--black);
    --bgcl: rgba(255,255,255,255);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: all 0.2s linear;
    cursor: pointer;
}

html{
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body{
    background: #eee;
}

.heading{
    text-align: center;
    padding: 30px;
    padding-bottom: 30px;
    font-size: 35px;
    color: var(--black);
}

.heading span{
    background: var(--orange);
    color: white;
    display: inline-block;
    padding: 5px 20px;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    margin-top: 1px;
    display: inline-block;
    padding: 0px 30px;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid var(--black);
    color: var(--black); 

}

.btn:hover{
    background-color: var(--orange);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}


.header .logo{
    font-size: 25px;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i{
    color:var(--orange);
}

.header .navbar a{
    font-size: 17px;
    margin: 0 10px;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--orange);
}

.header .icons div{
    font-size: 20px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    color: var(--black);
    margin-right: 3px;
    text-align: center;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
}


.header .icons div:hover{
    background: var(--orange);
    color: #fff;
}

/* CART */

.cart-page-header-wrapper{
    background: var(--light-color);
}

.cart-page-header-wrapper{
    margin-top: 87px;
    padding: 20px 9%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-page-header{
    font-size: 25px;
    font-weight: bold;
}

.cart-page-logo{
    color: var(--black);
}

.cart-page-logo i{
    color: var(--orange);
}

.cart-page-header .cart-page-header-text{
    display: inline-block;
}

.cart-page-searchbar{
    display: flex;
}

.cart-page-searchbar-main{
    border: 2px solid var(--orange);
}

.cart-page-searchbar-main-input{
    width: 517px;
    padding: 20px 20px 20px 20px;
}

.cart-page-searchbar-btn{
    height: 58px;
    width: 80px;
    background-color: var(--orange);
}

/* CONTAINER */
.container{
    margin: 0 auto;
    width: 1200px;
}

.main{
    width: 100%;
}

.main__header{
    background-color: #fffefb;
    border: 1px solid var(--orange);
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
    border-radius: 2px;
    margin-top: 20px;
}

.main__header .main__header-icon{
    font-size: 20px;
}

.main__header .main__header-text .main__header-text-content{
    font-size: 15px;
    font-weight: 50;
    margin-left: 10px;
}

/* HEADER PRODUCT */
.main__header-product{
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 0.125rem;
    overflow: hidden;
    border-radius: 3px;
    height: 55px;
    font-size: 14px;
    background-color: var(--bgcl);
    margin-bottom: 12px;
    padding: 0 20px;
    justify-content: space-between;
}

.main__header-product-left{
    display: flex;
    align-items: center;
}

.main__header-product-left .main__header-product-checkbox .main__header-product-checkbox-input{
    width: 18px;
    height: 18px;
    border-radius: 2px;
    margin-right: 8px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #888;;
    text-align: center;
    box-shadow: inset 0 2px 0 0 rgb(0 0 0 / 2%);
}

.main__header-product-left .main__header-product-text{
    display: inline-block;
    font-size: 16px;
}

.main__header-product .main__header-product-right{
    display: flex;   
    font-size: 16px;
    color: #888;
}

.main__header-product-right > .main__header-product-text{
    margin: 0 30px 0 30px;
}

.main__content__nocart{
    text-align: center;
    align-items: center;
}

.main__content__nocart .main__content-container .main__content-container-img img{
    width: 130px;
    height: 130px;
    
}

.main__content-container-text p{
    font-size: 18px;
    color: rgba(0,0,0,.6);
}

.main__content-container-btn{
    padding: 10px;
    background-color: var(--orange);
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 4px;
}

.main__content-container-btn .main__content-container-btn-a{
    color: #fff;
}

.main__content-container-btn .main__content-container-btn-a .main__content-container-btn-button{
    background-color: var(--orange);
    color: #fff;
    font-size: 22px;
}

.product{
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 0.125rem;
    overflow: hidden;
    border-radius: 3px;
    height: 140px;
    font-size: 14px;
    background-color: var(--bgcl);
    margin-bottom: 12px;
    padding: 0 20px;
    justify-content: space-between;
}

.product .product__left img{
    overflow: hidden;
    height: 120px;
    width: 120px;
    object-fit: contain;
    display: inline-block;
}

.product__left{
    display: flex;
}

.product__left p{
    line-height: 120px;
    margin-left: 10px;
}

.product__right{
    display: flex;
}

.product__right p{
    margin: 0 50px;
}

.pay{
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 0.125rem;
    overflow: hidden;
    border-radius: 3px;
    height: 60px;
    font-size: 14px;
    background-color: var(--bgcl);
    margin-bottom: 12px;
    padding: 0 20px;
    justify-content: end;
}

.total{
    margin-right: 120px;
    font-weight: bold;
    font-size: 20px;
}

.button-buy button{
    background-color: var(--orange);
    padding: 10px 40px;
    border-radius: 4px;
}


/* footer */
.footer{
    background: #fff;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
    padding: 10px;
    border-radius: 10px;
    gap: 15px;
}

.footer {
    margin-top: 150px;
    clear: both;
}

.footer .box-container .box {
    background-color: #ffffff;
    padding: 30px 20px;
}

.footer .box-container .box h3{
    font-size: 20px;
    color: var(--black);
}

.footer .box-container .box  i{
    font-size: 20px;
    color: var(--orange);
    padding:5px;
}

.footer .box-container .box p{
    font-size: 15px;
    color: var(--black);
    line-height: 20px;
}

.footer .box-container .box a{
    font-size: 13px;
    display: block;
    line-height: 20px;
}

.footer .box-container .box a:hover i{
    padding-right: 0.2px;
}

.footer .box-container .box .share a{
    display: inline-block;
    font-size: 20px;
    line-height: 30px ;
    margin: 5px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    background: #eee;
}

.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: white;
}

