@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,300;1,400&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html , body{
    width: 100%;
    height: 100%;
    
}
body{
    /* background-image: url('../IMG/back.jfif'); */
    background-image: url('../IMG//backlogin.jpg');
    background-size: cover;
    object-fit: cover;
}
a{
    text-decoration: none;
}



/* //home */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Source+Sans+Pro:wght@900&display=swap');

:root{
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 5px 15px rgba(0,0,0,.1);
    --border: 20px solid rgba(0,0,0,.1);
    --outline: 1px solid rgba(0,0,0,.1);
    --outline-hover: 2px solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: all 0.2s linear;
    cursor: pointer;
}

html{
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}



section{
    padding: 2px 9%;
}

.heading{
    text-align: center;
    padding: 30px;
    padding-bottom: 30px;
    font-size: 35px;
    color: var(--black);
}

.heading span{
    background: var(--orange);
    color: white;
    display: inline-block;
    padding: 5px 20px;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    margin-top: 1px;
    display: inline-block;
    padding: 0px 30px;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid var(--black);
    color: var(--black); 

}

.btn:hover{
    background-color: var(--orange);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}


.header .logo{
    font-size: 25px;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i{
    color:var(--orange);
}

.header .navbar a{
    font-size: 17px;
    margin: 0 10px;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--orange);
}

.header .icons div{
    font-size: 20px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    color: var(--black);
    margin-right: 3px;
    text-align: center;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
}

.header .icons div:hover{
    background: var(--orange);
    color: #fff;
}

.contact{
    margin-top: 200px;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    
}

.contact .contact-container{
    padding: 30px;
    background-color: white;
}

.contact .contact-container h3{
    color: var(--black);
    font-size: 20px;
}

.contact .contact-container p{
    font-size: 15px;
}

.contact .contact-container table{
    padding: 10px 0;
}

.contact .contact-container table td, tr{
    padding: 10px;
}

.contact .contact-container table input, textarea{
    border: var(--black) solid 1px;
    padding: 2px;
    border-radius: 10px;
}

.contact .contact-container label{
    font-size: 15px;
}

.contact .contact-container .submit{
    font-size: 15px;
    background: var(--orange);
    padding: 0 10px;
}

.footer{
    background: #fff;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
    padding: 10px;
    border-radius: 10px;
    gap: 15px;
}

.footer {
    margin-top: 50px;
}

.footer .box-container .box {
    background-color: #ffffff;
    padding: 30px 20px;
}

.footer .box-container .box h3{
    font-size: 20px;
    color: var(--black);
}

.footer .box-container .box  i{
    font-size: 20px;
    color: var(--orange);
    padding:5px;
}

.footer .box-container .box p{
    font-size: 15px;
    color: var(--black);
    line-height: 20px;
}

.footer .box-container .box a{
    font-size: 13px;
    display: block;
    line-height: 20px;
}

.footer .box-container .box a:hover i{
    padding-right: 0.2px;
}

.footer .box-container .box .share a{
    display: inline-block;
    font-size: 20px;
    line-height: 30px ;
    margin: 5px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    background: #eee;
}

.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: white;
}



/* end home */
.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
    
}

.white{
    color: aliceblue;
}
.back{
    padding:10px;
}
.login-container{
    /* background-color: rgba(127, 255, 212,0.1); */
    height: 470px;
    width: 490px;
    border: 2px double #cb8241;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(rgba(203, 130, 65,0.8),rgba(203, 130, 65,0.1));
    font-size: 16px;

}

.form-login{
    display: flex;
    flex-direction: column;
    
}
.title-login{
    text-align: center;
    margin: 50px 0 ;
    color: aliceblue;    
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

.form-infor{
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login-email,.login-pass{
    margin: 10px 0;
    padding: 0 10px;
    height: 40px;
    /* width: 270px; */
    flex: 1;
    border-radius: 10px;
    border: none;
    outline:  1px#b3a190;
    border: 1px solid #cb8241;
}


.label-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.label-input label{
    width: 90px;
    color: white;
    margin-right: 10px;
    /* height: 30px; */
}
.login-email{
    width: 70%;
    flex: 1;
}


.pass{
    width: 70%;
    flex: 1;
}
.another-choice{
    display: flex;
    justify-content: space-between;
    width: 270px;

}
.another-choice a{
    text-decoration: none;
    color: black;
}
.another-choice a:hover{
    color: rgb(119, 184, 227);
}


.btnlogin{
    margin:  30px 0 20px 0;
    height: 45px;
    width: 70%;
    border-radius: 15px;
    background-color: rgb(248, 244, 241);
    transition: 0.1s ;
    border: 1px solid #cb8241;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

/* .btnlogin button{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;

} */



.btnlogin:active{
    background-color: rgba(203, 158, 68, 0.5);
}


.form-infor span{
    margin: 10px 0;
}

.social-container{
    width: 100%;
    text-align: center;
}
.social-container a{
    margin: 0 5px;
    
}

.social-container a i{
    height: 30px;
    width: 30px;
    padding-top: 7px;
    text-align: center;
    justify-items: center;
    border-radius: 5px;
    color: rgba(238, 238, 245, 0.7);
    background-color: transparent;
    border: 1px solid #cb8241;
}


.social-container a i:hover{
    color: white;
}
.social-container a i:active{
    color: rgb(201, 173, 173);
}



/* button */
.container-btn{
    background-color: transparent;
    position: absolute;
    top: 200px;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(163, 160, 160,0.1);
}
 
.button-login ,.button-singnin{
    width: 88px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
}


    
.button-login:hover ,.button-singnin:hover{
    background-color: transparent;
}

.button-login:hover:active ,.button-singnin:hover:active{
    background-color: #1d150e;
    color: white;
}




/* remember pass */
.order{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order div{
    margin-left: 60px;
}

.order a{
    margin-right: 8px;
    color: black;
}


/* login mai */
.mai,.pass{
    height: 35px;
    width: 280px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}



.error{
    border: 2px solid red;
}